.botones{
    cursor: pointer;
    height: auto;
    min-width: 5vw;
    width: 100%;
    border-radius: 50%;
    margin: 5px;
    
}
.botones:hover{
    transform: scale(1.5);
    transition: all 2000ms;
    -webkit-filter: drop-shadow(2px 1px 0 rgb(255, 196, 0))
                  drop-shadow(-2px -1px 0 rgb(255, 124, 1));
    filter: drop-shadow(2px 1px 0 rgb(255, 95, 2)) 
          drop-shadow(-2px -1px 0 rgb(255, 31, 1));
}